.actividades {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  /* Fija los anchos de columnas */
}

.actividades th, .actividades td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* corta texto largo */
}
.actividades th{
    background-color: #7b5c34;
    
}
.actividades td{
    background-color: #d4d3b5;
    
}

/* Opcional: definir anchos fijos proporcionales */
.actividades th:nth-child(1), .actividades td:nth-child(1) { width: 20%; } /* Título */
.actividades th:nth-child(2), .actividades td:nth-child(2) { width: 40%; } /* Texto */
.actividades th:nth-child(3), .actividades td:nth-child(3) { width: 15%; } /* Hora */
.actividades th:nth-child(4), .actividades td:nth-child(4) { width: 25%; } /* Iglesia */

@media (max-width: 768px) {
    body, .container, .content-wrapper {
        border: none !important;
        box-shadow: none !important; /* por si también hay sombras */
    }
}

.accordion-button {
        background-color: #E8E3D0 ;
    }
.accordion-button:not(.collapsed) {
    background-color: #E8E3D0 !important;
    color: #000 !important;
    box-shadow: none !important; /* quita el sombreado azul */
    }

  .card-iglesia {
    background-color: #E8E3D0;
  }

  /* Tarjetas más compactas en móviles */
  @media (max-width: 575.98px) {
    .card-body ul {
      padding-left: 0;
      font-size: 0.9rem;
    }
    .card-body h4 {
      font-size: 1.2rem;
    }
    .card-img-top {
      height: 180px !important;
    }
    .btn {
      font-size: 0.85rem;
      padding: 0.35rem 0.5rem;
    }
  }


/* Titulo */
  h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 700;             /* fw-bold */
    text-align: center;           /* text-center */
    padding-bottom: 1rem;         /* pb-3 → 16px */
    margin-bottom: 1.5rem;        /* mb-4 → 24px */
    border-bottom: 1px solid #dee2e6; /* border-bottom de Bootstrap */
}

#calendar {
      max-width: 900px;
      margin: 40px auto;
}

.img-fija {
    width: 50px;
    height: 40px;
    object-fit: cover; /* mantiene proporciones sin deformar */
    border-radius: 8px; /* opcional, similar a "rounded" de Bootstrap */
  }

.btn-purple {
    display: inline-block;
    background-color: #6f42c1;
    color: white;
    border: none;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    pointer-events: none;  /* desactiva clicks */
    cursor: not-allowed;
}