.actividades {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  /* Fija los anchos de columnas */
}

.actividades th, .actividades td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* corta texto largo */
}
.actividades th{
    background-color: #7b5c34;
    
}
.actividades td{
    background-color: #d4d3b5;
    
}

/* Opcional: definir anchos fijos proporcionales */
.actividades th:nth-child(1), .actividades td:nth-child(1) { width: 20%; } /* Título */
.actividades th:nth-child(2), .actividades td:nth-child(2) { width: 40%; } /* Texto */
.actividades th:nth-child(3), .actividades td:nth-child(3) { width: 15%; } /* Hora */
.actividades th:nth-child(4), .actividades td:nth-child(4) { width: 25%; } /* Iglesia */

@media (max-width: 768px) {
    body, .container, .content-wrapper {
        border: none !important;
        box-shadow: none !important; /* por si también hay sombras */
    }
}