{% extends "base.html" %}

{% block title %}Autorización{% endblock %}

{% block content %}
<div class="card card-body shadow-sm w-100">
    <h4>Formulario de Autorización</h4>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex gap-2">
        <button type="submit" name="add" class="btn btn-success">Agregar permiso</button>
        <button type="submit" name="remove" class="btn btn-danger">Quitar permiso</button>
    </div>
</form>
</div>
    <!-- Usuarios con permisos -->
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-secondary text-white">
            <h4 class="mb-0">Usuarios con permisos de edición</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for iglesia in admin_iglesias %}
                    <li class="list-group-item">{{ iglesia.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}