<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi sitio{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap" rel="stylesheet">
    <style>
        body {
            padding-top: 70px; /* deja espacio para la barra fija */
        }
    </style>
    <style>
    .navbar-crema {
        background-color: #E8E3D0; /* color crema */
    }
    .navbar-brand {
        font-family: 'Libertinus'; /* fuente cursiva para el título */
        font-size: 30px;
        font-style: italic;
        color:#525049
    }
</style>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-crema fixed-top shadow">
    <div class="container-fluid">
        <!-- Marca izquierda -->
        <a class="navbar-brand fw-bold" href="/">CatholicRafaela.com</a>

        <!-- Botón colapsable (mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/iglesias/">Iglesias</a></li>
            <li class="nav-item"><a class="nav-link" href="/actividades/">Actividades</a></li>
            <li class="nav-item"><a class="nav-link" href="/horarios/">Horarios</a></li>
            <li class="nav-item"><a class="nav-link" href="/calendario/">Calendario</a></li>
            {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="/admin/">Administración</a></li>
            {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/dashboard/" class="btn btn-outline-dark btn-sm me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg> Perfil</a>
                </li>
            </ul>

            <!-- Sesión -->
            <div class="d-flex">
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                            </svg> Cerrar sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                        </svg> Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

    <!-- Contenido principal -->
    <main class="container-sm my-4">
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for message in messages %}
        <script>
        Swal.fire({
            icon: "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}",
            title: "{{ message|escapejs }}",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true
        });
        </script>
        {% endfor %}
    {% endif %}
</body>
</html>