{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Actividades{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4">
    <h2>
        Lista de Actividades
            <button class="btn btn-warning mt-2 mt-sm-0 float-end" data-bs-toggle="modal" data-bs-target="#actividadModal">
            ➕ Añadir
            </button>
    </h2>
    <form method="get" class="mb-4 text-center">
        <select name="dia">
            <option value="">-- Seleccionar día --</option>
            <option value="Lunes" {% if filtros.dia == "Lunes" %}selected{% endif %}>Lunes</option>
            <option value="Martes" {% if filtros.dia == "Martes" %}selected{% endif %}>Martes</option>
            <option value="Miercoles" {% if filtros.dia == "Miercoles" %}selected{% endif %}>Miercoles</option>
            <option value="Jueves" {% if filtros.dia == "Jueves" %}selected{% endif %}>Jueves</option>
            <option value="Viernes" {% if filtros.dia == "Viernes" %}selected{% endif %}>Viernes</option>
            <option value="Sabado" {% if filtros.dia == "Sabado" %}selected{% endif %}>Sabado</option>
            <option value="Domingo" {% if filtros.dia == "Domingo" %}selected{% endif %}>Domingo</option>
          </select>
          <!-- Categoría -->
          <select name="categoria">
                <option value="">-- Selecciona una categoría --</option>
                {% for c in categorias %}
                <option value="{{ c.categoria }}" {% if filtros.categoria == c.categoria %}selected{% endif %}>
                    {{ c.categoria }}
                </option>
                {% endfor %}
            </select>
  
            <!-- Parroquia -->
            <select name="parroquia">
                <option value="">-- Selecciona una parroquia --</option>
                {% for p in parroquias %}
                <option value="{{ p.id }}" {% if filtros.parroquia == p.id|stringformat:"s" %}selected{% endif %}>
                    {{ p.nombre }}
                </option>
                {% endfor %}
            </select>
            
      <button type="submit" class="btn btn-primary btn-sm">🔍 Filtrar</button>
    </form>

    <div class="accordion" id="weeklyAccordion">
        {% for dia, acts in actividades_por_dia.items %}
            {% if acts %}
            <div class="accordion-item">
                <h3 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapse{{ forloop.counter }}" 
                            aria-expanded="false" 
                            aria-controls="collapse{{ forloop.counter }}">
                        {{ dia|capfirst }}
                    </button>
                </h3>
                <div id="collapse{{ forloop.counter }}" 
                     class="accordion-collapse collapse" 
                     aria-labelledby="heading{{ forloop.counter }}" 
                     data-bs-parent="#weeklyAccordion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-striped text-center align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th>Actividad 
                                        <button class="btn btn-sm btn-info ms-2">ℹ️</button>
                                    </th>
                                    <th>Hora</th>
                                    <th>Iglesia 
                                        <a href="/iglesias/" class="btn btn-sm btn-info ms-2">ℹ️</a>
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for actividad in acts %}
                                <tr>
                                    <td>{{ actividad.categoria }}</td>
                                    <td>{{ actividad.hora }}</td>
                                    <td>{{ actividad.iglesia.nombre }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-warning me-1">✏️</button>
                                        <button class="btn btn-sm btn-danger">🗑️</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
