{% extends 'base.html' %}
{% load static %}

{% block title %}Iglesias{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div >
  <h2 class="mt-sm-2">
    Iglesias
    {% if request.user.is_superuser %}
    <button class="btn btn-success mt-2 float-end" title="Nueva Iglesia" data-bs-toggle="modal" data-bs-target="#formIglesiaModal">
      <i class="bi bi-plus-lg"></i>
    </button>
    {% endif %}
  </h2>

  <!-- LISTA DE IGLESIAS -->
  <div class="row g-3">
    {% for iglesia in iglesias %}
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card shadow-sm rounded-3 h-100 d-flex flex-column">
        
        {% if iglesia.imagen %}
         <img src="{{ iglesia.imagen.url }}" class="card-img-top img-fluid" alt="{{ iglesia.nombre }}"
          style="height: 250px; object-fit: cover; width: 100%;">
        {% else %}
        <div class="d-flex align-items-center justify-content-center bg-light border-bottom" style="height: 250px;">
          <span class="text-muted">Sin imagen</span>
        </div>
        {% endif %}

        <!-- Fondo aplicado solo al contenido -->
        <div class="card-body card-iglesia flex-grow-1 d-flex flex-column justify-content-between">
          <div>
            <h4 class="card-title fw-bold text-center">{{ iglesia.nombre }}</h4>
            <ul class="mb-3 ps-3">
              <li>
                <strong>Dirección:</strong> {{ iglesia.direccion }}
              </li>
              <li>
                <strong>Contacto Secretaría:</strong>
                {% if iglesia.contacto_secretaria %}
                  {{ iglesia.contacto_secretaria }}
                {% else %}
                  <span class="text-muted">No disponible</span>
                {% endif %}
              </li>
            </ul>
          </div>

          <div class="d-flex justify-content-center align-items-center gap-2 flex-nowrap">
          {% if request.user.is_authenticated and iglesia in request.user.perfil_iglesias.iglesias_suscripto.all %}
              <button class="btn btn-purple">Suscripto</button>
          {% else %}
              <a href="{% url 'suscribirse_iglesia' iglesia.id %}" class="btn btn-primary">Suscribirse</a>
          {% endif %}

          {% if request.user.is_authenticated and iglesia in request.user.perfil_iglesias.iglesias_admin.all %}
            <button class="btn btn-warning" style="color: white;"
              data-bs-toggle="modal"
              data-bs-target="#editarIglesia{{ iglesia.id }}"
              title="Editar">
              <i class="bi bi-pencil-square"></i>
            </button>

            <form method="post" class="d-inline">
              {% csrf_token %}
              <input type="hidden" name="action" value="eliminar">
              <input type="hidden" name="iglesia_id" value="{{ iglesia.id }}">
              <button type="submit" class="btn btn-danger" title="Eliminar"
                onclick="return confirm('¿Seguro que deseas eliminar {{ iglesia.nombre }}?')">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </form>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

        <!-- MODAL EDITAR IGLESIA -->
    <div class="modal fade" id="editarIglesia{{ iglesia.id }}" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="editar">
            <input type="hidden" name="iglesia_id" value="{{ iglesia.id }}">

            <div class="modal-header"  style="background-color: #d0ccbb;">
              <h5 class="modal-title">Editar Iglesia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body" style="background-color: #E8E3D0;">
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" value="{{ iglesia.nombre }}" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input type="text" name="direccion" class="form-control" value="{{ iglesia.direccion }}">
              </div>
              <div class="mb-3">
                <label class="form-label">Contacto Secretaría</label>
                <label class="form-text text-start"><small>(opcional)</small></label>
                <input type="text" name="contacto_secretaria" class="form-control" value="{{ iglesia.contacto_secretaria }}">
              </div>
              <div class="mb-3">
                <label class="form-label">Imagen</label>
                <label class="form-text text-start"><small>(opcional)</small></label>
                <input type="file" name="imagen" class="form-control">
                <div class="form-text">Dejá vacío para mantener la imagen actual.</div>
              </div>
            </div>

            <div class="modal-footer flex-column gap-2" style="background-color: #E8E3D0;">
              <button type="submit" class="btn btn-success w-100">Aplicar cambios</button>
              <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% empty %}
      <p class="text-muted text-center">No hay iglesias registradas.</p>
    {% endfor %}

    <!-- MODAL NUEVA IGLESIA -->
    <div class="modal fade" id="formIglesiaModal" tabindex="-1" aria-labelledby="formIglesiaLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" style="background-color: #E8E3D0;">
          
          <div class="modal-header" style="background-color: #d0ccbb;">
            <h5 class="modal-title" id="formIglesiaLabel">Nueva Iglesia</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          
          <div class="modal-body">
            <form method="post" enctype="multipart/form-data" id="formCrearIglesia">
              {% csrf_token %}
              <input type="hidden" name="action" value="crear">

              <!-- Nombre -->
              <div class="mb-3">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
              </div>

              <!-- Direccion -->
              <div class="mb-3">
                {{ form.direccion.label_tag }}
                {{ form.direccion }}
              </div>
              
              <!-- Secretaria -->
              <div class="mb-3">
                <div class="d-flex align-items-center gap-2">
                  {{ form.contacto_secretaria.label_tag }}
                  <small class="text-muted">{{ form.contacto_secretaria.help_text }}</small>
                </div>
                {{ form.contacto_secretaria }}
              </div>

              <!-- Imagen -->
              <div class="mb-3">
                <div>
                  <div class="d-flex align-items-center gap-2">
                    {{ form.imagen.label_tag }}
                    <small class="text-muted mb-0">{{ form.imagen.help_text }}</small>
                  </div>
                  {{ form.imagen }}
                </div>
              </div>

            </form>
          </div>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-success w-100" form="formCrearIglesia">Añadir</button>
            <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Cancelar</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
